NODE_ENV= 
PORT= 
DATABASE_URL= 

BCRYPT_SALT =  

# TOKEN
JWT_ACCESS_TOKEN_SECRET =  
JWT_ACCESS_TOKEN_EXPIRESIN =  
JWT_REFRESH_TOKEN_SECRET =  
JWT_REFRESH_TOKEN_EXPIRESIN =  

# OPENAI
OPEN_AI_API_KEY =  

#STRIPE
STRIPE_SECRET_KEY=  
STRIPE_WEBHOOK_SECRET=   
STRIPE_SUCCESS_URL= 
STRIPE_CANCEL_URL= 


# CLOUDINAY
CLOUD_NAME =  
CLOUD_API_KEY =  
CLOUD_API_SECRET = 

#redis
REDIS_PASS =  
REDIS_USERNAME =  
REDIS_HOST =  
REDIS_PORT =   