NODE_ENV= 
PORT= 
DATABASE_URL= 

BCRYPT_SALT =  

# TOKEN
JWT_ACCESS_TOKEN_SECRET =  
JWT_ACCESS_TOKEN_EXPIRESIN =  
JWT_REFRESH_TOKEN_SECRET =  
JWT_REFRESH_TOKEN_EXPIRESIN =  

# OPENAI
OPEN_AI_API_KEY =  



# CLOUDINAY
CLOUD_NAME =  
CLOUD_API_KEY =  
CLOUD_API_SECRET =  